<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title style="color: blueviolet;">login-page</title>
</head>
<div style="margin-left: 35%;margin-top: 20%;border: 1px;border-style:solid;margin-right: 35%;;">
<body style="position:relative">
  <form action="/login" method="POST">
    <input type="hidden" name= "_csrf" value = "<%=csrfToken%>">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required><br><br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required><br><br>

    <button type="submit" type="button" style="width: 20%;">Login</button><br><br>
    <a href="/reset" style="margin-left: 5%;">Reset password</a>

  </form>
  
</body>
</div>
</html>